'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle around-me'
      'command': 'around-me:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Around Me'
      'submenu': [
        {
          'label': 'Mashable'
          'command': 'around-me:toggle'
        }
      ]
    ]
  }
]
